@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --cor-primaria:#000000;
    --cor-secundaria: #936EFE;
    --cor-terciaria: #FEFDF9;
    --cor-quaternaria: #FFFFFF;

    --fonte-primaria:'Rubik', sans-serif; 
}
body{
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
}
#logo img{
    width: 7rem;
    padding: 3rem;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-primaria);
    width: 1280px;
    height: 98px;
}
.cabecalho_serviços li{
    margin: 0 1rem;
}
.cabecalho_serviços ul{
    list-style: none;
    display: flex;
}
.cabecalho_serviços a{
    font-family: var(--fonte-primaria);
    color: var(--cor-quaternaria);
    text-decoration: none;

}
.cabecalho_log li{
    margin: 0 1rem;
}
.cabecalho_log ul{
    list-style: none;
    display: flex;
    padding: 3rem;

}
.cabecalho_log a{
    font-family: var(--fonte-primaria);
    color: var(--cor-quaternaria);
    text-decoration: none;
}
.cabecalho_link_signup{
    margin: 5px;
    background-color: var(--cor-secundaria);
    color: white;
    padding: 20px;
    height: 60px;
    width: 174px;
    border-radius: 100px;
    box-sizing: border-box;
    
}
